<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基本数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>
<style>
    /*块头*/
    .layui-card-header{
        font-size:18px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-sm12 layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    查询条件
                    <!--<span class="layui-badge layui-bg-blue layuiadmin-badge"></span>-->
                </div>
                <div class="layui-card-body  " style="padding: 15px;">
                    <form class="layui-form layui-row" action="" lay-filter="component-form-group">
                        <div class="layui-form-item layui-col-xs6 layui-col-sm6 layui-col-md4" style="clear:none" >
                            <div class="layui-inline">
                                <label class="layui-form-label">年份</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="date" id="date-picker"
                                           placeholder="yyyy" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item layui-col-xs6 layui-col-sm6 layui-col-md4" id="area-picker" style="clear:none" >
                            <label class="layui-form-label">省份</label>
                            <div class="layui-input-inline">
                                <select name="province" class="province-selector" data-value="北京市"
                                        lay-filter="province-1">
                                    <option value="">请选择省</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item layui-col-xs6 layui-col-sm6 layui-col-md4" style="clear:none" >
                            <div class="layui-input-block">
                                <div class="layui-footer" style="left: 0;">
                                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">查询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" >
                    人口总量
                    <span class="layui-badge layui-bg-orange layuiadmin-badge">万人</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="popNum">66,666</p>
                    <i class="layui-inline layui-icon layui-icon-user"></i>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">
                    GDP
                    <span class="layui-badge layui-bg-green layuiadmin-badge">万亿人民币</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="gdpNum">999,666</p>
                    <i class="layui-inline layui-icon layui-icon-dollar"></i>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">
                    能源消费总量
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">PJ</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font" id="energyNum">9,999,666</p>
                    <i class="layui-inline layui-icon layui-icon-fire"></i>
                </div>
            </div>
        </div>


        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">
                    统计数据
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-sm6">
                            <p class="layuiadmin-normal-font" style="font-size:20px">GDP-POP-能源总量变化图</p>
                            <div  id="LAY-index-pagetwo_" >
                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                                 lay-filter="LAY-index-pagetwo">
                                <!--<div  id="LAY-index-pagetwo_" >-->
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm6">
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">各行业能源消费比例</p>
                                <span>同上期增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div class="layui-progress-bar" lay-percent="30%"></div>
                                </div>
                            </div>
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">月下载数</p>
                                <span>同上期增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div class="layui-progress-bar" lay-percent="20%"></div>
                                </div>
                            </div>
                            <div class="layuiadmin-card-list">
                                <p class="layuiadmin-normal-font">月收入</p>
                                <span>同上期增长</span>
                                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                    <div class="layui-progress-bar" lay-percent="25%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">用户留言</div>
                <div class="layui-card-body">
                    <ul class="layuiadmin-card-status layuiadmin-home2-usernote">
                        <li>
                            <h3>贤心</h3>
                            <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
                            <span>5月30日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="7"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>诸葛亮</h3>
                            <p>皓首匹夫！苍髯老贼！你枉活九十有六，一生未立寸功，只会摇唇鼓舌！助曹为虐！一条断脊之犬，还敢在我军阵前狺狺狂吠，我从未见过有如此厚颜无耻之人！</p>
                            <span>5月02日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="5"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>胡歌</h3>
                            <p>你以为只要长得漂亮就有男生喜欢？你以为只要有了钱漂亮妹子就自己贴上来了？你以为学霸就能找到好工作？我告诉你吧，这些都是真的！</p>
                            <span>5月11日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="6"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>杜甫</h3>
                            <p>人才虽高，不务学问，不能致圣。刘向十日画一水，五日画一石。</p>
                            <span>4月11日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="2"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>鲁迅</h3>
                            <p>路本是无所谓有和无的，走的人多了，就没路了。。</p>
                            <span>4月28日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="4"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                        <li>
                            <h3>张爱玲</h3>
                            <p>于千万人之中遇到你所要遇到的人，于千万年之中，时间的无涯的荒野中，没有早一步，也没有晚一步，刚巧赶上了，那也没有别的话好说，唯有轻轻的问一声：“噢，原来你也在这里？”</p>
                            <span>4月11日 00:00</span>
                            <a href="javascript:;" layadmin-event="replyNote" data-id="1"
                               class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header">本周活跃用户列表</div>
                        <div class="layui-card-body">
                            <table class="layui-table layuiadmin-page-table" lay-skin="line">
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>最后登录时间</th>
                                    <th>状态</th>
                                    <th>获得赞</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="first">胡歌</span></td>
                                    <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                                    <td><span>在线</span></td>
                                    <td>22 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td><span class="second">彭于晏</span></td>
                                    <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                                    <td><span>在线</span></td>
                                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td><span class="third">靳东</span></td>
                                    <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                                    <td><i>离线</i></td>
                                    <td>66 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>吴尊</td>
                                    <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                                    <td><i>离线</i></td>
                                    <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>许上进</td>
                                    <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                                    <td><span>在线</span></td>
                                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>小蚊子</td>
                                    <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                                    <td><i>在线</i></td>
                                    <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                <tr>
                                    <td>贤心</td>
                                    <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                                    <td><span>在线</span></td>
                                    <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <div class="layui-card">
                        <div class="layui-card-header">项目进展</div>
                        <div class="layui-card-body">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <table id="LAY-index-prograss"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <div class="layui-card">
                        <div class="layui-card-header">用户全国分布</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-sm4">
                                    <table class="layui-table layuiadmin-page-table" lay-skin="line">
                                        <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>地区</th>
                                            <th>人数</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>浙江</td>
                                            <td>62310</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>上海</td>
                                            <td>59190</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>广东</td>
                                            <td>55891</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>北京</td>
                                            <td>51919</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>山东</td>
                                            <td>39231</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>湖北</td>
                                            <td>37109</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="layui-col-sm8">

                                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                                         lay-filter="LAY-index-pagethree">
                                        <div carousel-item id="LAY-index-pagethree">
                                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script src="/static/modules/echarts/echarts3.8/echarts.js"></script>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/modules/jQuery/jquery.min.js"></script>
<script>
    /*页面全局变量*/
    var curYear= '2018';  //当前年份
    var curProvince= '北京市';//当前月份
    var pageData ; //页面echarts数据
    var echartsData_1 ; //echarts 1数据
    var echartsData_2 ; //charts 2数据
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    // }).use(['index', 'sample', 'form', 'laydate', 'layarea','jquery'], function () {
    }).use(['index', 'form', 'laydate', 'layarea','jquery'], function () {
        var
             laydate = layui.laydate
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , layarea = layui.layarea
            , form = layui.form;

        /* 省份选择组件初始化 */
        layarea.render({
            elem: '#area-picker',
            change: function (res) {
                curProvince=res.province;
                initData(curProvince,curYear)
            }
        });
        /* 年份选择  laydate实例 */
        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#date-picker', //指定元素
            type: 'year',
            value: curYear,
            position: "fixed",
            showBottom: false,
            // theme: '#18accc',
            change: function(value, date, endDate){
                if(initData(curProvince,value)){
                    curYear=value;
                    $("#date-picker").val(curYear);
                }
            }
        });

        /* 监听查询按钮 */
        form.on('submit(component-form-demo1)', function (data) {
            initData(curProvince,curYear)
            return false;
        });


        /*从后台获取数据：gdp、人口、能源消费*/
        $.ajax({
            url:'/getIndexDate',
            type:"GET",
            async:false,
            success:function(data){
                pageData= $.parseJSON(data);
                echartsData_1 = pageData["echart1"];
                echartsData_2 = pageData["echart2"];
                initEcharts();  /*初始化echarts折线图*/
                initEcharts2(); /*初始化echarts饼图*/
            }
        })

        /*根据年份和省份数据来修改 gdp 、人口、能源消费数据
        *   province：省份
        *   year:年份
        * */
        var initData = function(province,year){
            if( $.isEmptyObject(province)||$.isEmptyObject(year)){
                layer.alert("查询条件有误"+province+" "+year+"年");
                return false;
            }
            // if("西藏"){province="西藏"}
            var proInfo=  echartsData_1["province"][province] ;      /*省份信息*/
            if($.isEmptyObject(proInfo)){
                layer.alert("当前省份无数据:<br>"+""+province);return false;
            }
            var proIndex=  parseInt(proInfo[0])-1;                /*省份index*/
            var yearIndex=  echartsData_1['year'].indexOf(year);  /*年份Index*/
            if(yearIndex==-1) {layer.alert("年份有误，此年无数据:<br> "+year+"年 "+province);return false;}
            $("#popNum").html(echartsData_1['pop'][proIndex][yearIndex])
            $("#gdpNum").html(echartsData_1['gdp'][proIndex][yearIndex])
            $("#energyNum").html(echartsData_1['energy'][proIndex][yearIndex]);
            return true;
        }
        initData(curProvince,curYear);//初始化数据
    });



</script>
<script>
    /* 初始化echarts2 饼图*/
    var initEcharts2 = function(){
        var  typeList = echartsData_2.typeList;     //小类型列表
        var  yearList = echartsData_2.yearList;     //年份列表
        var yearDataList = echartsData_2.yearDataList/*每个省分每年的数据*/
        var provinceList = echartsData_2.province/*省份信息*/
        var provinceIndex =  parseInt(parseFloat(provinceList[curProvince]))/*所选择的省份的下标索引*/
        var provinceData = [];
        var curYearData=[] ;/*选中年份的数据*/
        var pieDataList = [];/*echarts中饼图数据 扇区数值列表*/
        var pieNameList = [];/*echarts中饼图数据 扇区名称列表*/
        if(yearList.indexOf(parseInt(curYear))==-1 ){         //如果年份不存在


        }else{          //如果年份存在
            curYearData= yearDataList[curYear];
            var type = typeList[0];
            var sum = 0;
            for(var i = 0;i< typeList.length ; i++){
                if(  type == typeList[i] ){
                    sum +=curYearData[i][provinceIndex];
                }else{
                    pieNameList.push(pieNameList.length+1 );  //名字
                    pieDataList.push({
                        value:sum,                  /*饼图中山区的值*/
                        name :pieNameList.length+1      /*饼图中山区的名字*/
                    })
                    type= typeList[i];
                    sum=0;
                }
            }
            var option = {
                title: {
                    text: echartsData_2.title,
                    subtext: echartsData_2.unit,
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x: 'center',
                    y: 'bottom',
                    data:pieNameList
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {
                            show: true,
                            type: ['pie', 'funnel']
                        },
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                series: [
                    {
                        name: '半径模式',
                        type: 'pie',
                        radius: [20, 110],
                        center: ['50%', '50%'],
                        roseType: 'area',//area radius
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        lableLine: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        data: pieDataList
                    }
                ]
            };
            /*设置一下宽度和长度，不设置的话，会出bug*/
            $('#LAY-index-pagetwo_').width($('#LAY-index-pagetwo_').width());
            $('#LAY-index-pagetwo_').height($('#LAY-index-pagetwo_').height());
            var elemDataView = document.getElementById("LAY-index-pagetwo_");
            var myChart1 = echarts.init(elemDataView);
            myChart1.setOption(option, true);
            myChart1.resize();
            window.onresize = myChart1.resize;

        }

    }
    /* 初始化echarts1 折线图 统计数据 - echarts*/
    var initEcharts = function(){
        var yearNum = echartsData_1.year.length;/*横轴年份长度*/
        var gdpArray = new Array(),
            popArray = new Array(),
            energyaArray = new Array(); /* 定义 数组 */
        for(var k =0 ; k < yearNum;k++){ /*数组 初始化*/
            gdpArray.push(0);
            popArray.push(0);
            energyaArray.push(0);
        }
        /*计算每年，所有省份 GDP pop energy 之和 */
        for(var i=0;i<31;i++){
            for(var j=0;j<yearNum;j++){
                gdpArray[j]+=   echartsData_1.gdp[i][j];
                popArray[j]+=echartsData_1.pop[i][j]/1000;
                energyaArray[j]+= echartsData_1.energy[i][j];
            }
        }
        /*保留小数点后两位*/
        for(var i = 0;i<yearNum;i++){
            gdpArray[i]=Math.round(gdpArray[i] * 100) / 100;
            popArray[i]=Math.round(popArray[i] * 100) / 100;
            energyaArray[i]=Math.round(energyaArray[i] * 100) / 100;
        }
        var option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {data: ['GDP(万亿人民币)', '人口(千万)', '能源(PJ)']},
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: echartsData_1.year  /*年份列表*/
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'GDP(万亿人民币)',
                    type: 'line',
                    data: gdpArray
                },
                {
                    name: '人口(千万)',
                    type: 'line',
                    data: popArray
                },
                {
                    name: '能源(PJ)',
                    type: 'line',
                    data: energyaArray
                }
            ]
        };
        /*设置一下宽度和长度，不设置的话，会出bug*/
        /*$('#LAY-index-pagetwo_').width($('#LAY-index-pagetwo_').width());
        $('#LAY-index-pagetwo_').height($('#LAY-index-pagetwo_').height());
        var elemDataView = document.getElementById("LAY-index-pagetwo_");
        var myChart1 = echarts.init(elemDataView);
        ;
        myChart1.setOption(option, true);
        myChart1.resize();
        window.onresize = myChart1.resize;*/
    }

</script>
</body>
</html>